<footer class="footer">
  <div class="container">
    <p class="text-muted">Created by <%= link_to "Joel Elliston", "https://www.linkedin.com/in/joelelliston/" %>. Available under MIT License.</p>
  </div>
</footer>
